---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';

const pageTitle = "ホームページ";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>私の素晴らしいブログのサブタイトル</h2>
	<Greeting messages={["どうも", "こんにちは", "初めまして", "ようこそ"]} />
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>